.navbar {
  background-color: orange;
  overflow: hidden;
  display:flex;
  justify-content:space-around;
}

.content p {
    justify-content: flex-start;
    width: 100%
}

.content {
    background-color: salmon;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news {
    width: 30%;
}

.navbar {
  background-color: orange;
  overflow: hidden;
}

.navbar p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar p:hover {
  background-color: #520B7A;
  color: black;
}


.navbar p.active {
  background-color: #4CAF50;
  color: white;
}
k